# --------------------------------------------------
# Generic ignores

*.d
*.o
*.*~
*.pyc
*.pyo
*.png
*.class
*.jar
*.log

_build

# --------------------------------------------------
# Specific to this project

api/.classpath
api/.project
api/.settings/
api/mvn.log
doc
example/.classpath
example/.project
example/.settings/
target
tests/.classpath
tests/.project
tests/.settings/

# For netbeans
nbproject
