# --------------------------------------------------
# Generic ignores

*.d
*.o
*.*~
*.pyc
*.pyo
*.png
*.class
*.jar
*.log

_build

# --------------------------------------------------
# Specific to this project

api/.classpath
api/.project
api/.settings/
api/mvn.log
doc
target

# For netbeans
nbproject
